/*将所有带边界或者内边距的清零*/
*{
	padding: 0px;
	margin: 0px;
}
/*设置整个页面的字体及文字颜色*/
html,
body{
	font-size: 14px;
       user-select: none;
	height: 180px;
	box-sizing: content-box;
}
container {
  width: 100%;
  min-width: 250px;
  min-height: 100%;
  position: relative;
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .avatar {
  width: 80px;
  height: 80px;
  margin-top: 30%;
  border-radius: 50%;
  box-shadow: 0 0 90px 2px #fff;
  opacity: 0.8;
  cursor: pointer;
}

.container .nickname {
  font-size: 18px;
  margin-top: 20px;
  letter-spacing: 2px;
  animation: nickname-shadow 2s ease-in-out infinite alternate;
}

@keyframes nickname-shadow {
  from {
    text-shadow: 0 0 2px #f6f7fb;
  }

  to {
    text-shadow: 1px 1px 20px #f6f7fb;
  }
}


.container .introduce {
  font-size: 14px;
  margin-top: 20px;
  padding: 0 28px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 28px;
}

.container .quote {
  font-size: 14px;
  margin-top: 20px;
  padding: 0 28px;
  letter-spacing: 1px;
  text-align: center;
  font-family: cursive;
  line-height: 28px;
}

.container .quote::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 18px;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: middle;
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

nav {
  width: 80%;
  min-height: 40px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav .item {
  width: 28px;
  height: 28px;
  margin: 8px 12px;
  position: relative;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
}

nav .item a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 20px;
  height: 20px;
}

nav .item a:focus,
nav .item a:visited,
nav .item a:active {
  color: #fff;
}

nav .item a img {
  width: 100%;
  height: 100%;
}

nav .item .tooltip {
  position: absolute;
  width: 80px;
  max-height: 80px;
  background-color: rgb(255, 255, 255);
  bottom: 40px;
  padding: 4px;
  border-radius: 4px;
  z-index: 10;
  color: #333;
  letter-spacing: 2px;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transform: translateY(-40px);
  transition: all 0.1s ease-in-out;
}

nav .item .tooltip img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

nav .item .tooltip::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -4px;
  left: 40px;
  transform: rotate(45deg);
  z-index: 9;
}


nav .item a:focus+.tooltip,
nav .item a:hover+.tooltip {
  transform: translateY(0);
  z-index: 10;
  opacity: 1;
}
#wrapper{
	width: 960px;
	margin: 0 auto;/*将整个网页居中显示*/
}
#header{
	width: 100%;
	height: 250px;
}
#header #logo{  /*后代选择器*/
	
	font-size: 28px;
	padding-top: 10px;
	float: left;
	margin-left: 50px;
}

 a{    /*将整个页面的超链接下划线去掉*/
	text-decoration: none;
}
/*伪元素选择器，未访问过链接的颜色*/
a:link{
	color: darkgray;
}

#logo a{
	color: darkgray;
}
/*伪元素选择器，已访问过链接的颜色*/
a:visited{
	color: green;
}
/*伪元素选择器，鼠标悬浮时链接的颜色*/
a:hover{
	color: red;
}
#main{
	width: 100%px;
	height: auto;
	margin-top: 20px;
}
#left{
	width: 25%;
	height: 98%;
	float:  left;
}
#right{
	width: 72%;
	height: 98%;
	float: right;
}
#footer{
	width: 100%;
	height: 90px;
	
	margin-top: 8px;
	float: left;
	
	padding: 20px;
	text-align: center;
}

#search{
	float: right;
	margin-top: 15px;
}

#search .stxt{
	width: 180px;
	height: 20px;
}
#search .go{
	width: 30px;
	height: 24px;
}
/*所有的ul不带指示器*/
ul{
	list-style-type: none;
}

#nav ul li a{
	float: left;
	margin-right: 28px;
	font-size: 24px;
	
	background: url(../img/nav_line.png) no-repeat right top;
	/*text-align: center;*/
	width: 100px;
}

#nav{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 150px;
	margin-left: 50px;
}
#nav ul li a:hover{
	text-decoration: underline;
}
/*左侧侧边栏样式*/
.title{
	width: 100%;
	height: 50px;
	
	line-height: 50px;
	text-indent: 20px;//左缩进
}
.content{
	padding-left: 20px;
	padding-right: 20px;
	line-height: 20px;
	
	border: 1px solid #D6E6CC;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.content li{
	line-height: 25px;
	border-bottom: dashed 1px #D1D1D1;
}

p{
	margin: 10px;
}
#left .content,#right .content{
	
}
footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 40px;
}
@media screen and (min-width:768px) {
  .container .avatar {
    width: 88px;
    height: 88px;
    margin-top: 20%;
  }

  .container .nickname {
    font-size: 20px;
    margin-top: 28px;
  }

  .container .introduce {
    font-size: 16px;
    margin-top: 28px;
    padding: 0 40px;
  }

  .container .quote {
    font-size: 16px;
    margin-top: 28px;
    padding: 0 40px;
  }

  .container .quote::after {
    height: 20px;
  }

  nav {
    margin-top: 90px;
  }

  nav .item {
    width: 32px;
    height: 32px;
  }

  nav .item .tooltip {
    bottom: 48px;
  }

  nav .item a {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width:992px) {
  .container .avatar {
    width: 96px;
    height: 96px;
    margin-top: 10%;
  }

  .container .nickname {
    font-size: 22px;
    margin-top: 32px;
  }

  .container .introduce {
    font-size: 18px;
    margin-top: 36px;
    padding: 0 80px;
  }

  .container .quote {
    font-size: 18px;
    margin-top: 36px;
    padding: 0 80px;
  }


  .container .quote::after {
    height: 22px;
  }

  nav {
    margin-top: 100px;
  }

  nav .item {
    width: 36px;
    height: 36px;
    margin: 12px;
  }

  nav .item .tooltip {
    bottom: 56px;
  }

  nav .item a {
    width: 24px;
    height: 24px;
  }
}
