<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-muted" 
                 style="font-family: 'Bonheur Royale', cursive; font-size: 1.6rem; margin-top: 20px;">
                Dedicated to the knee scrapes, playdates, and heartaches.
            </div>
        </div>
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>

    </div>
</footer>
